<div id="modal-registered" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
        <a asp-action="Index" class="close">
            <span uk-icon="icon:close; ratio:1.5"></span>
        </a>

        <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-background-cover" style="background-color: black;" uk-height-viewport>
            </div>
            <div class="uk-padding-large">
                <h1>Cadastro confirmado</h1>
                <h3 class="uk-card-title">Aguarde a liberação de acesso</h3>
                <p>Seu cadastro foi enviado para o gestor do sistema.<br>
                    Assim que for autorizado, entre com login e senha registrados.</p>

                <p class="uk-text-center" style="margin-top: 2em;">
                    <a asp-action="Index" class="uk-button uk-button-default">Fechar</a>
                </p>
            </div>
        </div>
    </div>
</div>
