<div class="uk-position-center">
    <h1 style="margin-bottom: 4em;">Sem permissão</h1>

    <div class="uk-position-center">
        <span uk-icon="icon: lock; ratio: 4" style="color:#FF9898"></span>
    </div>
</div>
