@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/login-register.css" />

<div class="uk-section">
    <div class=" uk-container">
        <div class="uk-grid-large" data-uk-grid>

            <div>
                <a class="uk-button uk-button-secondary botao-inicial" onclick="Register()">Cadastre-se</a>
            </div>
            <div>
                <a class="uk-button uk-button-primary botao-inicial" onclick="Login()">Login</a>
            </div>
        </div>

        <div class="uk-grid-large" data-uk-grid>
            <h1>NET Core App</h1>            
        </div>

         <div class="uk-grid-large" data-uk-grid>            
            <h3>Frontend UIkit</h3>
        </div>
    </div>
</div>

<div id="modal-load"></div>


<partial name="_Scripts" />