<li>
    <a asp-action="Index" asp-controller="HomeInternal">
        <span uk-icon="home"></span>
        <span class="espaco-texto-icon">Home</span>
    </a>
</li>
<li>
    <a asp-action="LiberarAcesso" asp-controller="User">
        <span uk-icon="unlock"></span>
        <span class="espaco-texto-icon">Pedidos de acesso</span>
    </a>
</li>
<li>
    <a asp-action="ListaUsuarios" asp-controller="User">
        <span uk-icon="users"></span>
        <span class="espaco-texto-icon">Usuários</span>
    </a>
</li>
