<li>
    <a asp-action="Index" asp-controller="HomeInternal">
        <span uk-icon="home"></span>
        <span class="espaco-texto-icon">Home</span>
    </a>
</li>
<li>
    <a asp-action="Index" asp-controller="Escola">
        <span uk-icon="home"></span>
        <span class="espaco-texto-icon">Escola</span>
    </a>
</li>
